body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutThis h2{
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: left;
}

h2 {
    margin-top: 15px;
}

.previous {
    background-color: #f1f1f1;
    color: black;
  }
  
.img-wrap {
    width: 100%;
}
.img-wrap img{
    width: 100%;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #999999;
}


@media screen and (max-width : 900px) {

    h2 {
        margin-top:80px;
    }
}

.differBody {
    background-image: url(../img/differbackground.png);
    background-size: cover;
    background-position: center;
    color: white;
}

.coronaBody {
    background-image: url(../img/background/coronabackground2.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.sharingeconomyBody {
    background-image: url(../img/background/sharingeconomy.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}
.CoronaContainer {
    background-color: rgba(0,0,0,0.9);
    border-radius: 30px;
    
}

.differContainer {
    background-color: rgba(255,255,255,0.9);
    border-radius: 30px;
    color: black;
}

.redditContainer {
    background-color: rgba(0,0,0,0.9);
    border-radius: 30px;
    color: white;
}

.sharingContainer {
    background-color: rgba(0,0,0,0.9);
    border-radius: 30px;
    color: white;
}
.coronaRow {
    background-color: rgba(255, 255, 255, 0.9);
}